.dashboard-container h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    color: #003300;
}

/* Employer dashboard grid items */
.dashboard-employer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
    width: 95%;
    background:  #F3FCF4;
    border: none;
    border-radius: 2px;
}

.maintain-users {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.maintain-users div {
    margin-bottom: 5px;
}

.employer-categories {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.post-jobs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.post-jobs-subgrid div {
    margin-bottom: 5px;
}

.post-jobs-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.post-jobs-subgrid textarea {
    display: grid;
    grid-column: 1 / span 2;
    width: 200%;
    margin-top: 10px;
}

.post-jobs-subgrid button {
    display: grid;
    grid-column: 1 / span 2;
    width: auto;
    margin-top: 40px;
}

#job-description-container {
    margin-top: 20px;
}

.application-summary {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.application-summary p {
    height: 85%;
    padding: 10px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.update-jobs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

.update-jobs-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.update-jobs-subgrid div {
    margin-bottom: 5px;
}

.update-jobs-subgrid textarea {
    display: grid;
    margin-top: 10px;
    grid-column: 1 / span 2;
    width: 200%;
}

.update-jobs-subgrid button {
    display: grid;
    grid-column: 1 / span 2;
    width: auto;
    margin-top: 22px;
}

.update-applications {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.update-applications div {
    margin-bottom: 6px;
}

.update-applications textarea {
    height: 240px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.update-applications button {
    width: 100%;
    margin-top: 10px;
}

/* Payments Dashboard */
.payment-type-panel {
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4; 
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.payment-type-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.payment-type-panel button {
    width: 250px;
    height: 160px;
    margin-left: 25px;
    margin-top: 70px;
    font-size: 1.25rem;
    border-radius: 2.5rem;
    background: #7296A7;
    font-family: 'Raleway', sans-serif;;
}

.payment-type-panel button:hover {
    filter: brightness(120%);
}

.payment-information-panel {
    justify-content: center;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
    background: #9DCCBF;
}

.payment-information-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.payment-information-panel label {
    display: flex;
    justify-content: center;
    color: #003300;
    padding-top: 20px;
}

.payment-information-panel input {
    display: inline-block;
    width: 400px;
    height: 30px;
    margin-left: 140px;
    font-size: 1rem;
}

.payment-information-panel button {
    width: 500px;
    height: 60px;
    margin-top: 35px;
    margin-left: 90px;
    background: #447C66;
    font-size: 1rem;
}

.account-status-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; 
    height: 300px;
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.account-status-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.account-status-panel p {
    height: 70%;
    padding: 10px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.remove-payment-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; 
    height: 275px;
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.remove-payment-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.remove-payment-panel label {
    display: flex;
    justify-content: center;
    color: #003300;
}

.remove-payment-panel input {
    width: 200px;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 55px;
}

.remove-payment-panel button {
    width: 250px;
    height: 40px;
    margin-top: 20px;
    margin-left: 30px;
    background: #447C66;
    font-size: 1rem;
}