
/* Employer dashboard grid items */
.dashboard-employer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
    width: 95%;
    border-radius: 2px;
    background:  #F3FCF4;
    border: none;
}

.maintain-users {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.maintain-users div {
    margin-bottom: 5px;
}

.employer-categories {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

.post-jobs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.post-jobs-subgrid div {
    margin-bottom: 5px;
}

.post-jobs-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.post-jobs-subgrid textarea {
    display: grid;
    margin-top: 10px;
    grid-column: 1 / span 2;
    width: 200%;
}

.post-jobs-subgrid button {
    display: grid;
    grid-column: 1 / span 2;
    width: auto;
    margin-top: 84px;
}

#job-description-container {
    margin-top: 20px;
}

.application-summary {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

.application-summary p {
    height: 85%;
    padding: 10px;
    font-size: .8rem;
    opacity: 1;
    border: 1px solid #000;
    color: #000;
    background: #FFFFFF;
}

.update-jobs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

.update-jobs-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.update-jobs-subgrid div {
    margin-bottom: 5px;
}

.update-jobs-subgrid textarea {
    display: grid;
    margin-top: 10px;
    grid-column: 1 / span 2;
    width: 200%;
}

.update-jobs-subgrid button {
    display: grid;
    grid-column: 1 / span 2;
    width: auto;
    margin-top: 84px;
}

.update-applications {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.update-applications div {
    margin-bottom: 6px;
}

.update-applications textarea {
    margin-top: 10px;
    margin-bottom: 15px;
}

.update-applications button {
    margin-top: 20px;
    width: 100%;
}
