/* User dashboard grid items */

.dashboard-container h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    color: #003300;
}

.dashboard-user {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
    width: 95%;
    background:  #F3FCF4;
    border: none;
    border-radius: 2px;
}

/* Similar values to .contact-button in utilties from styles.css */
.search-all-jobs {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 150px;
    padding: 10px;
    left: 75px;
    top: 50px;
    background: #FFDD82;
    border-radius: 20px;
}

.search-jobs-by-category {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 2;
    height: 290px;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.search-jobs-by-name {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.search-jobs-by-name button {
    margin-top: 10px;
}

.job-data {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.job-data p {
    display: block;
    overflow: auto;
    word-wrap: break-word;
    justify-content: start;
    height: 500px;
    width: 400px;
    max-width: 400px;
    padding: 10px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.apply-for-job {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.apply-for-job input {
    width: 265px;
}

.apply-for-job button {
    margin-top: 26px;
}

.maintain-status {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 310px;
    padding: 20px;
    margin: 15px;
    margin-bottom: 0px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.maintain-status label {
    font-size: .9rem;
}

.maintain-status input {
    font-size: .8rem;
}

.maintain-status button {
    margin-top: 20px;
}

.withdraw-application {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 250px;
    padding: 20px;
    margin: 15px;
    margin-top: 25px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.withdraw-application label {
    font-size: .9rem;
}

.withdraw-application  input {
    font-size: .8rem;
}

.withdraw-application button {
    width: 50%;
    margin-top: 25px;
}

.user-categories {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.user-categories button {
    width: 300px;
    height: 70px;
    margin-top: 50px;

}

.update-user-profile {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.update-user-profile input {
    width: 275px;
}

.update-user-profile button {
    margin-top: 30px;
}

.delete-user-account {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4;
    padding: 20px;
    margin: 15px 15px 10px 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.delete-user-account button {
    margin-top: -5px;
}

/* Payments Dashboard */

/* NOTE: This adjusts width of both payment information / edit payments */
.card-info-container {
    width: 325px;
}

.payment-information-panel {
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 560px;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
    background: #9DCCBF;
}

.payment-information-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
}

.payment-information-panel label {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    color: #003300;
}

.payment-information-panel input {
    display: inline-block;
    width: 100%;
    height: 25px;
    margin-top: 10px;
    font-size: 1rem;
}

.payment-information-panel button {
    display:inline-block;
    width: 350px;
    height: 60px;
    background: #447C66;
    font-size: 1rem;
}

.payment-information-panel button:hover {
    border: 2px solid #FFF;
}

#payment-option-button {
    width: 100%;
    height: 50px;
    opacity: .7;
    background: #0f530f;
}

.edit-payment-panel {
    display: grid;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5;
    width: 560px;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
    background: #9DCCBF;
    font-size: .8rem;
}

.edit-payment-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1rem;
}

.edit-payment-panel label {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: #003300;
}

.edit-payment-panel input {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    font-size: .8rem;
}

.edit-payment-panel button {
    display:inline-block;
    width: 350px;
    height: 60px;
    background: #447C66;
    font-size: 1rem;
}

.edit-payment-panel button:hover {
    border: 2px solid #FFF;
}

#edit-payment-button {
    width: 100%;
    height: 50px;
    margin-top: 33px;
    opacity: .7;
    background: #0f530f;
}

.account-status-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3;
    height: 300px;
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.account-status-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.account-status-panel p {
    height: 70%;
    padding: 10px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.remove-payment-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4;
    height: 275px;
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.remove-payment-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}

.remove-payment-panel label {
    display: flex;
    justify-content: center;
    color: #003300;
}

.remove-payment-panel input {
    width: 200px;
    margin-top: 05px;
    margin-bottom: 5px;
    margin-left: 35px;
}

.remove-payment-panel button {
    width: 260px;
    height: 50px;
    margin-top: 35px;
    background: #447C66;
    font-size: 1rem;
}

.remove-payment-panel button:hover {
    border: 2px solid #FFF;
}
