.dashboard-container h3 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    color: #003300;
}

/* Employer dashboard grid items */
.dashboard-employer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height: 80%;
    width: 95%;
    background:  #F3FCF4;
    border: none;
    border-radius: 2px;
}

.maintain-users {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.maintain-users div {
    margin-bottom: 5px;
}

.employer-categories {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.post-jobs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.post-jobs-subgrid div {
    margin-bottom: 5px;
}

.post-jobs-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

.post-jobs-subgrid textarea {
    display: grid;
    grid-column: 1 / span 2;
    width: 200%;
    margin-top: 10px;
}

.post-jobs-subgrid button {
    display: grid;
    grid-column: 1 / span 2;
    width: auto;
    margin-top: 40px;
}

#job-description-container {
    margin-top: 20px;
}

.application-summary {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.application-summary p {
    height: 85%;
    padding: 10px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.update-jobs {
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

.update-jobs-subgrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-content: center;
    align-items: center;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.update-jobs-subgrid div {
    margin-bottom: 5px;
}

.update-jobs-subgrid textarea {
    display: grid;
    margin-top: 10px;
    grid-column: 1 / span 2;
    width: 200%;
}

.update-jobs-subgrid button {
    display: grid;
    grid-column: 1 / span 2;
    width: auto;
    margin-top: 22px;
}

.update-applications {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 4; 
    background: #CAE4CD;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
}

/* This is for each of the input boxes, as they are wrapped in simple divs */
.update-applications div {
    margin-bottom: 6px;
}

.update-applications textarea {
    height: 295px;
    margin-top: 10px;
    margin-bottom: 15px;
}

.update-applications button {
    width: 100%;
    margin-top: 10px;
}

.jobs-posted-by-employer {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4; 
    width: 475px;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.jobs-posted-by-employer p {
    display: inline-block;
    overflow: auto;
    word-wrap: break-word;
    width: 100%;
    height: 85%;
    padding: 20px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.applications-received-by-employer {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4; 
    width: 475px;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.applications-received-by-employer p {
    display: inline-block;
    overflow: auto;
    word-wrap: break-word;
    width: 100%;
    height: 85%;
    padding: 20px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}


.applications-accepted-by-employer {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4; 
    width: 475px;
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

.applications-accepted-by-employer p {
    display: inline-block;
    overflow: auto;
    word-wrap: break-word;
    width: 100%;
    height: 85%;
    padding: 20px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

/* Payments Dashboard */

/* NOTE: this is used for both the 'add payment' and 'edit payment' sections */
.card-info-container {
    width: 325px;
}

.payment-information-panel {
    display: grid;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5; 
    width: 560px;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
    background: #9DCCBF;
    font-size: .8rem;
}

.payment-information-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1rem;
}

.payment-information-panel small {
    display: block;
    padding-bottom: 5px;
}

.payment-information-panel label {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: #003300;
}

.payment-information-panel input {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    font-size: .8rem;
}

.payment-information-panel button {
    display:inline-block;
    width: 350px;
    height: 60px;
    margin-top: 30px;
    background: #447C66;
    font-size: 1rem;
}

.payment-information-panel button:hover {
    border: 2px solid #FFF;
}

#payment-option-button {
    width: 100%;
    height: 50px;
    opacity: .7;
    background: #0f530f;
}

.edit-payment-panel {
    display: grid;
    justify-content: center;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 5; 
    width: 560px;
    padding: 20px;
    margin: 15px;
    border: solid 1px;
    border-radius: 5px;
    background: #9DCCBF;
    font-size: .8rem;
}

.edit-payment-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-size: 1rem;
}

.edit-payment-panel label {
    display: flex;
    justify-content: center;
    margin-top: 12px;
    color: #003300;
}

.edit-payment-panel input {
    display: inline-block;
    width: 100%;
    height: 20px;
    margin-top: 10px;
    font-size: .8rem;
}

.edit-payment-panel button {
    display:inline-block;
    width: 350px;
    height: 60px;
    background: #447C66;
    font-size: 1rem;
}

.edit-payment-panel button:hover {
    border: 2px solid #FFF;
}

#edit-payment-button {
    width: 100%;
    height: 50px;
    margin-top: 33px;
    opacity: .7;
    background: #0f530f;
}

.account-status-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 3; 
    height: 300px;
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.account-status-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.account-status-panel p {
    height: 70%;
    padding: 10px;
    opacity: 1;
    background: #FFFFFF;
    font-size: .8rem;
    color: #000;
    border: 1px solid #000;
}

.remove-payment-panel {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 3;
    grid-row-end: 4; 
    height: 275px;
    padding: 20px;
    margin: 15px;
    background: #9DCCBF;
    border: solid 1px;
    border-radius: 5px;
}

.remove-payment-panel h4 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    margin-bottom: 20px;
}

.remove-payment-panel label {
    display: flex;
    justify-content: center;
    color: #003300;
    font-size: .8rem;
}

.remove-payment-panel input {
    width: 200px;
    margin-top: 05px;
    margin-bottom: 5px;
    margin-left: 35px;
}

.remove-payment-panel button {
    width: 260px;
    height: 50px;
    margin-top: 38px;
    background: #447C66;
    font-size: 1rem;
}

.remove-payment-panel button:hover {
    border: 2px solid #FFF;
}
