/* CSS for the HTML elements */

* {
    box-sizing: border-box; 
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #002800;
    display: flex;
    flex-direction: column;
}

h2 {
    text-align: center;
}

/* IMPORTANT: Primarily for the heading titles for *all* dashboard grid items */
h4 {
    display: inline-block;
    padding: 2px;
    padding-left: 5px;
    padding-right: 5px;
    background: #F3FCF4;
    font-weight: 300;
    color: #253A28;
    border: 2px solid #A0AFA1;
    border-radius: 2px;
}

a {
    display: flex;
    align-content: center;
    justify-content: center;
    text-decoration: none;
}

p {
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 0px 15px 0px;
    opacity: .8;
}

/* Just to add some space between the forms, really ugly otherwise */
form > * {
    margin-bottom: 10px;
}

button {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: none;
}

button:hover {
    border: 2px solid  #2F4858;
    filter: brightness(107%);
    cursor: pointer;
}

/* Some 'buttons' I've created are actually input selectors, so I have to change the font here */
input {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

input:hover {
    border: 2px solid  #2F4858;
    filter: brightness(107%);
}

textarea { 
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 10px;
    resize: none;
}

textarea:hover {
    border-color: #000;
}

/* -------------------------------------------------------------------------------------- */

/* Dashboard container for employer & user */
/* See grid-employer.css and user-employer.css for the grids themselves */

.dashboard-container {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 800px;
    margin-top: 40px;
    background:  #F3FCF4;
    border: 2px solid #499256;
    border-radius: 2px;
}

/* -------------------------------------------------------------------------------------- */

/* Utilities classes */

/* Some of these reusable components may later be refactored into a utilities.css class.*/

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 50px;

}

.container h2 {
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;
    color: #003300;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 270px;
    height: 400px;
    background:  #F3FCF4;
    border: 2px solid #499256;
    border-radius: 2px;
}

/* INCOMPLETE: Do not use yet. Might use for the card for creating new account. */
.card-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    flex-direction: column;
    align-items: center;
    height: 700px;
    width: 500px;
    background:  #F3FCF4;
    border: 2px solid #499256;
    border-radius: 2px;
}

.card-sign-up {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
    background:#6aa78f;
    color: #FFF;
    border: 2px solid #499256;
    border-radius: 2px;
}

.card-sign-up p {
    padding: 10px 75px 10px 75px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #FFF;
    color: #3a2f25;
    border: 2px solid;
}

.card-sign-up input {
    width: 300px;
}

.card-sign-up button {
    background: #1e4b26;
    width: 250px;
    height: 75px;
    margin-left: 25px;
    border-color: #FFF;
}

.card-sign-up-employer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    height: 700px;
    background:#6aa78f;
    color: #FFF;
    border: 2px solid #499256;
    border-radius: 2px;
}

.card-sign-up-employer p {
    padding: 10px 75px 10px 75px;
    margin-top: 30px;
    margin-bottom: 20px;
    background: #FFF;
    color: #3a2f25;
    border: 2px solid;
}

.card-sign-up-employer input {
    width: 300px;
    margin-bottom: 5px;
}

.card-sign-up-employer button {
    background: #1e4b26;
    width: 200px;
    height: 60px;
    margin-top: 0px;
    margin-left: 45px;
    border-color: #FFF;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 50px;
    margin: 20px 0px 20px 0px;
    background: #5EAF6D;
    color: #FFF;
    border: none;
    border-radius: 12px;
}

/* NOTE: this is used for both dashboards */
.contact-button {
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 10px;
    right: 70px;
    top: 50px;
}

/* NOTE: this is used for both dashboards */
.help-and-contact {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4; 
    padding: 20px;
    margin: 15px;
    background: #CAE4CD;
    border: solid 1px;
    border-radius: 5px;
}

/* NOTE: this is used for both dashboards */
.help-wrapper {
    background: #FFF;
    border: solid 1px orangered;
    border-radius: 5px;
    padding: 10px;
}

.security-question {
    width: 100%;
    margin-top: 7px;
    margin-bottom: 15px;
    font-size: .7rem;
}