/* CSS for the HTML elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #002800;
    display: flex;
    flex-direction: column;
}

a {
    display: flex;
    align-content: center;
    justify-content: center;
}

p {
    opacity: .8;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 20px 0px 15px 0px;
}

form {
    opacity: .7;
    padding: 10px 0px 10px 0px;
}

/* Some of these reusable components may later be refactored into a utilities.css class.*/
.container {
    padding-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 270px;
    border-radius: 2px;
    background:  #F3FCF4;
    border: 2px solid #499256;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0px 20px 0px;
    color: #FFF;
    text-decoration: none;
    height: 50px;
    width: 150px;
    border-radius: 0px;
    background: #499256;
}

.button:hover {
    border: 2px solid  #2F4858;
    filter: brightness(107%);
   
}


/* TODO: Make a grid corresponding to some schema that could be likely used for the database project */
/* NOTE: Potentially there will be the need to refactor this into separate dashboards for user and employer... depending on how large the differences are */
.dashboard {
    display: grid;
    height: 800px;
    width: 1600px;
    border-radius: 2px;
    background:  #F3FCF4;
    border: 2px solid #499256;
}
